auth_enabled: false

server:
  http_listen_port: 3100

common:
  instance_addr: 127.0.0.1
  path_prefix: /data/loki
  storage:
    filesystem:
      chunks_directory: /data/loki/chunks
      rules_directory: /data/loki/rules
  replication_factor: 1
  ring:
    kvstore:
      store: inmemory

schema_config:
  configs:
    - from: 2020-10-24
      store: tsdb
      object_store: filesystem
      schema: v13
      index:
        prefix: index_
        period: 24h

limits_config:
  allow_structured_metadata: true
  otlp_config:
    resource_attributes:
      attributes_config:
        - action: index_label
          attributes:
            - service.name
            - service.namespace
            - deployment.environment

ruler:
  alertmanager_url: ${RAILWAY_PROMETHEUS_ALERTMANAGER_ENDPOINT}

ingester:
  wal:
    replay_memory_ceiling: 100MB
  lifecycler:
    min_ready_duration: 1s

pattern_ingester:
  enabled: true
  lifecycler:
    min_ready_duration: 1s

frontend:
  address: 127.0.0.1
  dns_lookup_period: 1s

query_scheduler:
  use_scheduler_ring: false
